.main {
    width: 100%;
    height: 100vh;
}

body {
    background-color: #192229;
    color: beige;
}

/*Zona de buscar*/
.zona_buscar {
    height: 332px;  
    background-color: #3A3C3E;
    text-align: center;
    color: white;
    font-size: 50px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zona_buscar .busqueda_texto div{
    height: 60px;  
}

.zona_buscar input{
    box-sizing: border-box;
    padding: 10px 12px;
    height: 50px;

    margin: 25px 8%;

    background: rgba(42, 49, 106, 0.72);
    border: 2px solid rgba(42, 49, 106, 0.72);
    border-radius: 40px;
    font-size: 18px;
    color: white;
}

.zona_buscar input::placeholder {
    color: white;
    opacity: 1;
    font-size: 18px;
}

#busqueda_texto_item {
    color: #1192EE;
}

/*nav buscar*/
.nav_busqueda {
    height: 75px;
    display: flex;
    background: #283540;
    justify-content: center;    
}

.nav_busqueda div {
    height: 73px;
    padding: 0px 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 34px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nav_busqueda_todos {
    border-bottom: 3px solid #1192EE;
}

/*titulos*/
.titulo_buscar {
    padding: 0px 20px;
    margin: 30px 0;
    font-size: 25px;
    color: white;
}
/*Carrousel*/

.carrousel {
    width: 95%;
    margin: 0 auto;
}

.carrousel_contenedor {
    position: relative;
    z-index: 0;
}

.carousel_elemento {
    display: flex;
}

.carrousel_siguiente, .carrousel_anterior,
.carrousel_siguiente_2, .carrousel_anterior_2,
.carrousel_siguiente_3, .carrousel_anterior_3,
.carrousel_siguiente_4, .carrousel_anterior_4 {
    position: absolute;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    top: calc(50% - 35px);
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    color: white;
    opacity: 20%;
    transition: all 0.6s;
}

.carrousel_anterior,
.carrousel_anterior_2,
.carrousel_anterior_3,
.carrousel_anterior_4 {
    left: 0px;
}

.carrousel_anterior:hover,
.carrousel_anterior_2:hover,
.carrousel_anterior_3:hover,
.carrousel_anterior_4:hover{
    opacity: 100%;
}

.carrousel_siguiente,
.carrousel_siguiente_2,
.carrousel_siguiente_3,
.carrousel_siguiente_4 {
    right: 0px;
}

.carrousel_siguiente:hover,
.carrousel_siguiente_2:hover,
.carrousel_siguiente_3:hover,
.carrousel_siguiente_4:hover{
    opacity: 100%;
}

.carousel_indicador .glider-dot,
.carousel_indicador_2 .glider-dot,
.carousel_indicador_3 .glider-dot,
.carousel_indicador_4 .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #FFFFFF;
    opacity: .2;
    border-radius: 0;
}

.carousel_indicador .glider-dot:hover,
.carousel_indicador_2 .glider-dot:hover,
.carousel_indicador_3 .glider-dot:hover,
.carousel_indicador_4 .glider-dot:hover {
    opacity: .5;
}

.carousel_indicador .glider-dot.active,
.carousel_indicador_2 .glider-dot.active,
.carousel_indicador_3 .glider-dot.active,
.carousel_indicador_4 .glider-dot.active{
    opacity: 1;
}

/*Cursos*/
.curso {
    width: 382px;
    padding-bottom: 5%;
    position: relative;
    z-index: 0;
    text-align: center;

    background: #424649;
    border-radius: 37px;
}

.curso_titulo {
    font-size: 30px;
    padding: 25px 0;
    color: #1192EE;
}

.curso img {
    width: 90%;
    border-radius: 20px;
}

.curso_autor {
    display: flex;
    align-items: center;
    padding: 0px 25px;
    margin-top: 5px;
    font-size: 21px;
    color: white;
}

.curso_autor svg {
    padding-right: 10px;
}

.curso_descricion {
    color: white;
    font-size: 20px;
    padding: 10px 25px;
}

.curso_propiedades {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso_propiedades div{
    width: 98.54px;
    height: 98px;
    background: #323537;
    border-radius: 21px;
    margin: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px){
    .zona_buscar {
        height: 200px; 
        font-size: 40px; 
    }
    .zona_buscar input{
        margin: 0px 8%;
    }
    .curso {
        width: 90%;
        font-size: 18px; 
    }

    .curso_autor {
        font-size: 18px; 
    }
    
    .curso_descricion {
        font-size: 18px; 
    }
    
    .curso_propiedades div{
        font-size: 18px;  
    }

    .curso_propiedades div{
        width: 70px;
        height: 70px;
    }

    .nav_busqueda {
        display: none;
    }
}