@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3A3C3E;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/*header {
    background-color: #192229;
    margin-bottom: 20px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header > div img{
    width: 75px;
    height: 75px;
}

.group_buttons {
    font-size: 14px;
    margin-right: 20px;
}

.button_primary {
    background-color: #1F1960;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0 10px;
}

header > div .select1{
    background: transparent;
    border: none;
    color: white;
}

header > div .select2{
    background: transparent;
    border: none;
    color: white;
}
*/

/*TITULO*/
#loguear {
    /*Ancho maximo*/
    max-width: 975px;
    /*Centrar*/
    margin: 0 auto;

}

#loguear h3 {
    margin-top: 10%;
    text-align: center;
    color: white;
}

#loguear .active {
    color: rgb(255, 255, 255) !important;
    border-top: 1px solid rgb(255, 255, 255);
}


.botones_loguear button {
    background-color: #1F1960;
    color: white;
}


.top {

    display: flex;
    align-items: center;
    flex-direction: column;
}


#fac {
    margin-top: 10px;
}

.botones_loguear button {
    margin-bottom: 10px;
    text-align: left;
    width: 350px;
    font-weight: bold;
    height: 45px;
    font-size: 17px;
    line-height: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.boton_facebook {
    margin-top: 25px;
    margin-bottom: 6px;
    background-color: #1F1960;
    color: white;
    display: inline-block;
}



.autenticacion input {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 350px;
    display: block;
    height: 42px;
    text-align: left;
    font-size: 17px;
    background-color: transparent;
    border-radius: 8px;
    color: white;
}

.parrafo_boton {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

.iniciar_sesion {
    background-color: #1F1960;
    color: white;
    text-align: center;
    width: 350px;
    height: 45px;
    font-size: 17px;
}

#botonBootstrap {
    background-color: #1F1960;
    color: white;
    text-align: center;
    width: 350px;
    height: 45px;
    font-size: 17px;
}

/*POP - UP */
.modal {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.contenido {
    margin: auto;
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 10px;
}

.contenido img {
    width: 250;
    height: 300px;
    display: block;
    margin: auto;
}

#cerrar {
    display: none;

}

#cerrar+label {
    margin-top: 5%;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 25px;
    z-index: 999;
    background: rgb(255, 7, 7);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked+label,
#cerrar:checked~.modal {
    display: none;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

h2 {
    text-align: center;
}

/*FIN DEL POP UP*/

/*movil*/


@media (max-width: 1689px) {
    .contenido img {
        width: 240px;
        height: 200px;
        ;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    footer {
        position: none;
        bottom: none;
        height: 150px;
        width: 100%;
    }

    #cerrar+label {
        margin-top: 13%;

    }
}

/*movil*/
@media (max-width: 1500px) {
    .contenido img {
        width: 240px;
        height: 200px;
        ;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }
}

@media (max-width: 1370px) {
    .contenido img {
        width: 240px;
        height: 200px;
        ;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

}

@media (max-width: 1280px) {
    .contenido img {
        width: 240px;
        height: 200px;
        ;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }
}



@media (max-width: 1110px) {
    .contenido img {
        width: 240px;
        height: 200px;
        ;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

}



@media (max-width: 990px) {
    .botones_loguear button {
        width: 250px;
    }

    .botones_loguear div input {
        width: 244px;
    }

    .parrafo_boton {
        font-size: 13px;
    }

    .botones_loguear button {
        width: 98%;
    }

    .contenido img {
        width: 140px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 40%;
        height: 27%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    #cerrar+label {
        margin-top: 18%;

    }
}





@media (max-width: 1050px) {
    .botones_loguear button {
        width: 240px;
    }

    .autenticacion div input {
        width: 245px;
    }

    #botonBootstrap {
        width: 243px;
    }

    .parrafo_boton {
        font-size: 15px;
    }

    .iniciar_sesion {
        width: 240px;
    }

    .botones_loguear button {
        width: 100%;
    }

    .contenido img {
        width: 160px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 20%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    #cerrar+label {
        margin-top: 10%;

    }
}


@media (max-width: 893px) {
    .botones_loguear button {
        width: 240px;
    }

    .autenticacion div input {
        width: 245px;
    }

    #botonBootstrap {
        width: 243px;
    }

    .parrafo_boton {
        font-size: 15px;
    }

    .iniciar_sesion {
        width: 240px;
    }

    .botones_loguear button {
        width: 100%;
    }

    .contenido img {
        width: 160px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 20%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    #cerrar+label {
        margin-top: 10%;

    }
}


@media (max-width: 790px) {
    .botones_loguear button {
        width: 240px;
    }

    .autenticacion div input {
        width: 245px;
    }

    #botonBootstrap {
        width: 243px;
    }

    .parrafo_boton {
        font-size: 15px;
    }

    .iniciar_sesion {
        width: 240px;
    }

    .botones_loguear button {
        width: 100%;
    }

    .contenido img {
        width: 160px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 20%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    #cerrar+label {
        margin-top: 10%;

    }
}

@media (max-width: 650px) {
    .botones_loguear button {
        width: 240px;
    }

    .autenticacion div input {
        width: 245px;
    }

    #botonBootstrap {
        width: 243px;
    }

    .parrafo_boton {
        font-size: 15px;
    }

    .iniciar_sesion {
        width: 240px;
    }

    .botones_loguear button {
        width: 100%;
    }

    .contenido img {
        width: 160px;
        height: 120px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 20%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 17px;
    }

    #cerrar+label {
        margin-top: 10%;

    }

    #cerrar+label {
        margin-top: 18%;

    }
}

@media (max-width: 590px) {

    .contenido img {
        width: 140px;
        height: 80px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 15%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 15px;
    }

    #cerrar+label {
        margin-top: 25%;
    }

}

@media (max-width: 500px) {

    .contenido img {
        width: 140px;
        height: 80px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 30%;
        height: 15%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 15px;
    }

    #cerrar+label {
        margin-top: 25%;
    }

}

@media (max-width: 450px) {

    .contenido img {
        width: 140px;
        height: 80px;
        display: block;
        margin: auto;
    }

    .contenido {
        margin: auto;
        width: 40%;
        height: 15%;
        background: white;
        border-radius: 10px;
    }

    .modal .contenido h2 {
        font-size: 15px;
    }

    #cerrar+label {
        margin-top: 25%;
    }

}